[Unit]
Description=Backup {{utility}} system with Restic

[Service]
User=root
Group=root
Type=simple
ExecStart=/bin/bash "{{restic_script_path}}/backup-{{utility.lower()}}.sh"

[Install]
WantedBy=multi-user.target